.input-area{
    resize: none;
    border-radius: 5px;
    border: none;
    background: #F6F6F6;
}

.input-block{display: flex;
flex-direction: column;
max-width: 300px;
padding-top: 27px;
padding-left: 16px;}

.input-button{
    background: aquamarine;
    font-size: x-large;
    text-align: end;
}