.message{
    background-color: azure;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 23px;
    margin-top:2%;
    margin-left: 20px;
}
.sender{
    font-size: 12px;
    color: darkblue;
    align-self: flex-end;
    padding-right: 12px;
    padding-top: 7px;
}

.text {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
    padding: 5px;
    text-align: left;
    width: 90%;
}

.dateTime {
    font-size: 11px;
    color: #AAA;
    align-self: flex-end;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 10px;
}